@font-face {
    font-family: 'opensans';
    src: url('fonts/open-sans/OpenSans-Regular-webfont.eot');
    src: url('fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/open-sans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans_light';
    src: url('fonts/opensans_light/OpenSans-Light-webfont.eot');
    src: url('fonts/opensans_light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_light/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/opensans_light/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/opensans_light/OpenSans-Light-webfont.svg#opensans_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { 
    font-family: 'opensans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    position: absolute; height: 100%; }
body#chatWindow {
    width: 100%;
    font-size: 100%;
    line-height: 1.25em;
    margin: 0;
    padding: 0;
}

#loading {
    position: fixed;
    width: 100%;
    text-align: center;
    padding-top: 70px;
    background-color: rgba(0,0,0,0.5);
    z-index: 1040;
    height: 100%;
    display:none;
    top:0;
}
#loading.visible {
    display:block;
}

.availability {
    background: none;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-clip: none;
}
.availability .btn-success { border-bottom-left-radius:0; border-bottom-right-radius:0 }
.availability .btn-warning { border-radius:0;}
.availability .btn-danger { border-top-left-radius:0; border-top-right-radius:0}

.status_offline .state { color: #cccccc; }
.status_online .state { color: #5cb85c; }
.status_dnd .state { color: #d9534f; }
.status_away .state { color:#f0ad4e; }



.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }


/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}
 /* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #a9a9a9;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #c8c8c8; 
}
#contact
{
    display: none;
    background: #FFF;
}
.group-collapser {
    background: url('../img/chat/spr-collapser-1.png') no-repeat 4px;
    background-position-y: 6px;
    background-size: 12px;
    color: #FFF !important;
    display: inline;
    height: 32px;
    text-decoration:none;
    width: 250px;
    margin-left: 8px;
    vertical-align: middle;
}
.group-collapser strong{
    font-size: 0.875em;
    color: #FFF;
    margin-left: 20px;
    font-family: 'opensans';
}
.group-collapser.collapsed {
    background: url('../img/chat/spr-collapser-2.png') no-repeat 4px;
    background-position-y: 5px;
    background-size: 12px;}

.input-container {

    -webkit-border-radius: 50px;
    border: 1px solid #CCC;
    height: 25px;
    /*width: 240px;*/
}

.input-container input {
    height: 20px;
    width: 164px;
    border: 0;
    text-decoration: none;
    margin: 2px 0 0 33px;
}

.input-container #input-search-text:focus{
    outline:none !important;
    -webkit-appearance:none !important;
}

.input-container #input-search-text:focus:hover{
    outline:none !important;
    -webkit-appearance:none !important;
}

.input-container span {
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 999999;
    border-radius: 10px;
}

.input-container > span:nth-child(1) {
    background: url('../img/chat/Group_Chat_Search.svg') no-repeat 6px 5px transparent;
    background-size: 16px;
}

.invisible { opacity:0; }
.hidden { display: none }
.visible { display: block }
.name { font-size: 14px !important; color: #6E6E6E; line-height: 14px; margin-bottom: 0; }
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}
.mf-form-element.mf-search-button {
    width: 19px;
    height: 19px;
    background-position-y: -50px;
    border: none;
    text-indent: -9999px }
#search-container {
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(54,29,0, 0.45);
    margin: 15px 0 0 0px;
    right: 4px;
    position: absolute;
    padding: 10px 10px 5px 10px;
    color: #1C6995;
    font-family: 'Open Sans', sans-serif, bold;
    z-index: 999;
    width: 250px;
    max-height: 400px;
    max-width: 250px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.header-image {
    position: absolute;
    background: url('../img/chat/top-1.png') no-repeat;
    width: 35px;
    height: 35px;
    z-index: 1000;
    margin-top: -5px;
    right: 8px;
}
.loader-ajax {
width: 16px;
height: 16px;
position: absolute;
right: 15px;
top: 16px;}
.contacts-search-input {
    background: url('../img/forms/spr-form-elements.png') no-repeat 0 -75px transparent;
    color: #6E6E6E;
    width: 180px;
    height: 18px;
    padding: 3px 0px 4px 15px;
    font-size: 14px;
    right: 5px;
    top: 50%;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    margin: 10px;
    margin-left: 31px;
    /*border-radius: 15px;
    background: #FFF;*/
    }
.contacts-search-button {
    width: 19px;
    height: 19px;
    position: absolute;
    left: 32px;
    top: 14px;}
.contacts-clear-button {
    background: url('../img/chat/Group_Chat_Search_Clear.svg') no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 15px;
    top: 16px;
    border: none;
    cursor: pointer;
    outline: 0;
    text-indent: -9999px;}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.presence-available {
    content: url('../img/chat/Presence_Available.png');
    width: 14px;
    padding-right: 6px;
}
.presence-dnd {
    content: url('../img/chat/Presence_Busy.png');
    width: 14px;
    padding-right: 6px;
}
.presence-away {
    content: url('../img/chat/Presence_Idle.png');
    width: 14px;
    padding-right: 6px;
}
.presence-unavailable {
    content: url('../img/chat/Presence_Offline.png');
    width: 14px;
    padding-right: 6px;
}
.presence-undefined {
    content: url('../img/chat/Presence_Offline.png');
    width: 14px;
    padding-right: 6px;
}
.roster-item-action {
    overflow-y: auto;
    max-height: 340px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 5px;
}
.roster-item-action > ul > li > div > div > a {
    background-image: url('../img/chat/spr-contact-action.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position-x: 0; text-indent: -9999px;
    width: 30px; height: 20px; display: block; position: relative;
    }
.roster-item-action > ul > li> div > div > a.call { background-position-y: 0; display: none; }
.roster-item-action > ul > li> div > div > a.hidden-phone { display: none }
.roster-item-action > ul > li.call-multiples > a { background-position-y: -50px }
.roster-item-action > ul > li.call-disabled > a { background-position-y: -75px }
.roster-item-action > ul > li > div > div > a.chat { background-position-y: -25px; display: none; }
.roster-item-action > ul > li:hover { background: #EFEFEF !important; }
.roster-item-action > ul > li:hover > div > div > a.call { display: block; }
.roster-item-action > ul > li:hover > div > div > a.chat { display: block; }
.roster-item-action .name { font-size: 0.75em; color: #6E6E6E; line-height: 14px; margin-bottom: 0; display: inline-block; }

.mf-form-element { background: url('../img/forms/spr-form-elements.png') no-repeat 0 0 transparent }
.mf-ui-bold { font-family: 'opensans'; font-weight:bold; }
.mf-ui-italic { font-family: 'opensans'; font-style:italic; font-weight:300 }
.mf-ui-light { font-family: 'opensans_light', 'opensans'; font-weight: 300 }
.chat-window { 
    min-width: 400px;
    width: 100%;
    height: 100%; 
    position: relative;
    background: #FFFFFF;
    overflow: hidden }
    .chat-window .notification-message { 
        font-size: 0.8125em; 
        background: #FFEEA0; 
        color: #2C291C; 
        margin: 0; 
        padding: 3px 12px;}
    .chat-window ol,
    .chat-window ul { margin: 0; padding: 0 }
    .chat-window header {
        height: 40px; /* default 33px */
        -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.2);
        box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.2);
        background-color: #FFB13D;
        position: relative;
        z-index: 9999; margin-top: -4px; }
        .chat-window header h1 {
            font-size: 0.875em;
            color: #73839D;
            margin: 4px 0 0 20px;
            font-family: 'opensans'; 
            font-weight: normal; 
            line-height: 2.142857142857143em }
    .chat-window .main-time { 
        font-size: 0.75em; 
        color: #73839d; 
        text-align: center; 
        margin: 10px 0; 
        display: block; }
    .chat-window .chat-add-icon {
    height: 26px;
    width: 40px;
    display: inline;
    padding: 0;
    font-size: 0.8125em;
    float: right;
    background: url('../img/chat/Add Chat.svg') no-repeat !important;
    background-size: 21px !important;
    margin-top: 3px;
    }
    .chat-window .chat-content { 
        margin: 0px 0px 13px 0px;
        height: 75%;
        width: 100%;
        overflow-y: scroll;
        -webkit-user-select: none;
        user-select: none }
        .chat-window .chat-content .chat-items { margin: 0px 7px 0px 13px }
        .chat-window .chat-content .chat-item { 
                        list-style: none; 
                        position: relative; 
                        overflow: hidden;
                        margin-bottom: 15px;
                        margin-right: 6px;
                        padding-top: 10px; 
                        min-height: 30px }
            
            .chat-window .chat-content .chat-item .chat-item-content { 
                float: left; 
                display: inline-block;
                min-height: 30px;
                overflow: hidden; }
            .chat-window .chat-content .chat-item.me .chat-item-content { float: right }
                
                .chat-window .chat-content .chat-item time { 
                                position: absolute;
                                bottom: -1px;
                                float: left;
                                font-size: 12px;
                                color: #73839d;
                                margin-bottom: 4px;
                                white-space: nowrap }
                    .chat-window .chat-content .chat-item.me time { float: right }
                
                .chat-window .chat-content .chat-item p { 
                                float: left;
                                margin: 0;
                                margin-left: 47px;
                                margin-right: 10px;
                                margin-top: 2px;
                                padding: 4px 8px; 
                                font-size: 0.75em;
                                color: #000000;
                                background: #FFFFFF;
                                border-radius: 12px;
                                max-width: 237px; 
                                word-wrap: break-word;
                                -webkit-user-select: text;
                                position: relative;
                                user-select: text;
                                font-family: 'Open Sans', 'opensans', Arial, sans-serif, "Lucida Grande" }
                .chat-window .chat-content .chat-item.counterpart p { background: #2A9BDB; color: #FFFFFF }

                .chat-window .chat-content .chat-item p .pointer { 
                    width: 16px;
                    height: 8px;
                    display: inline-block;
                    left: -8px;
                    bottom: 5px;
                    position: absolute;
                    background: url('../img/chat/pointer-counterpart.svg') no-repeat 0 0 transparent; background-size: cover }
                
                .chat-window .chat-content .chat-item.me p { float: right; margin-left: 62px; margin-right: 47px; background: #E5F3FB }
                .chat-window .chat-content .chat-item.me p .pointer { background: url('../img/chat/pointer-me.svg') no-repeat 0 0 transparent; left: auto; right: -8px; }
    
            .chat-window .chat-content .chat-item figure { 
                float: left;
                padding: 0;
                margin: 0; 
                width: 40px;
                height: 40px;
                position: absolute;
                bottom: 0 }
            .chat-window .chat-content .chat-item.me figure { float: right; right: 0 }

                .chat-window .chat-content .chat-item figure img { 
                    border: solid 1px #e5e5e5; 
                    border-radius: 100px; 
                    width: 36px;
                    height: 36px;
                    max-width: none;
                    margin: 1px 0 0 1px }
                .chat-window .chat-content .chat-item figure .cover { 
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    background-size: cover;
                    width: 40px;
                    height: 40px;
                    z-index: 1 }
                .chat-window .chat-content .chat-item figure .cover,
                .chat-window .chat-content .chat-item figure.status-offline .cover                  { background-image: url('../img/chat/presence-unavailable.svg') }
                .chat-window .chat-content .chat-item figure.status-online .cover                   { background-image: url('../img/chat/presence-available.svg') }
                .chat-window .chat-content .chat-item figure.status-busy .cover                     { background-image: url('../img/chat/presence-dnd.svg') }
                .chat-window .chat-content .chat-item figure.status-unavailable .cover              { background-image: url('../img/chat/presence-away.svg') }
                .chat-window .chat-content .chat-item.counterpart figure .cover,
                .chat-window .chat-content .chat-item.counterpart figure.status-offline .cover      { background-image: url('../img/chat/presence-counterpart-unavailable.svg') }
                .chat-window .chat-content .chat-item.counterpart figure.status-online .cover       { background-image: url('../img/chat/presence-counterpart-available.svg') }
                .chat-window .chat-content .chat-item.counterpart figure.status-busy .cover         { background-image: url('../img/chat/presence-counterpart-dnd.svg') }
                .chat-window .chat-content .chat-item.counterpart figure.status-unavailable .cover  { background-image: url('../img/chat/presence-counterpart-away.svg') }
                
    .chat-window footer { 
        position: absolute;
        width: 100%;
        height: 46px;
        bottom: 0;
        background: #ebedee;
        z-index: 1;
        text-align: center; }
        .chat-window footer form { margin: 5px auto 0; display: inline-block; width: 90% }
            .chat-window footer form fieldset { margin: 0; padding: 0; border: none } 
            .chat-window footer textarea {
                font-family: Arial, sans-serif, "Lucida Grande"; 
                background-color: #FFFFFF; 
                border-radius: 50px; 
                border: solid 1px #b5b6b7;
                font-size: 0.75em; 
                padding: 1px 5px 5px 10px;
                width: 100%;
                float: left;
                max-height: 30px;
                line-height: 16px;
                resize: none;
            }
            .chat-window footer button { 
                width: 50px;
                color: #FFFFFF;
                background-color: #8AC4E4;
                border-radius: 0 50px 50px 0; 
                border: none;
                padding: 5px 0;
                height: 29px;
                line-height: 19px;
                font-family: 'opensans' }
            .chat-window footer textarea:focus,
            .chat-window footer button { box-shadow: none; outline: none }

            .hint {
                bottom: 50px;
                margin: auto;
                padding: 5px;
                font-size: 0.75em;
                background-position: 0;
                border: 1px solid #D43A3E;
                border-radius: 5px;
                text-align: center;
                background-color: rgb(245,216,216);
                color:#D43A3E;
            }
            .hint .hint-img {
                width: 20px;
                /* display: inline-block; */
                height: 19px;
                /* margin: -11px -10px; */
                margin-left: -4px;
                margin-top: -4px;
                /* margin-bottom: 20px; */
                float: left;
                background: white;
                /* background-size: 30px 40px; */
                padding: 5px;
                border-radius: 5px 0 0 5px;
            }
            .hint .hint-info {
                /* background-color: rgb(245,216,216); */
                padding: 0;
            }


