@font-face {
	font-family: 'opensans';
	src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');
	src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
		 url('../fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
		 url('../fonts/open-sans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'opensans';
	src: url('../fonts/opensans_light/OpenSans-Light-webfont.eot');
	src: url('../fonts/opensans_light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans_light/OpenSans-Light-webfont.woff') format('woff'),
		 url('../fonts/opensans_light/OpenSans-Light-webfont.ttf') format('truetype'),
		 url('../fonts/opensans_light/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'opensans';
	src: url('../fonts/opensans_semibold/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/opensans_semibold/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans_semibold/OpenSans-Semibold-webfont.woff') format('woff'),
		 url('../fonts/opensans_semibold/OpenSans-Semibold-webfont.ttf') format('truetype'),
		 url('../fonts/opensans_semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'opensans';
	src: url('../fonts/opensans_lightitalic/OpenSans-LightItalic-webfont.eot');
	src: url('../fonts/opensans_lightitalic/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans_lightitalic/OpenSans-LightItalic-webfont.woff') format('woff'),
		 url('../fonts/opensans_lightitalic/OpenSans-LightItalic-webfont.ttf') format('truetype'),
		 url('../fonts/opensans_lightitalic/OpenSans-LightItalic-webfont.svg#opensans_lightitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

body { 
	font-family:'opensans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	position: absolute; height: 100%; }
body#mainWindow { padding-top: 60px; }
body#chatWindow {
	font-size: 100%;
	line-height: 1.25em;
	margin: 0;
	padding: 0;
}
#chatWindow ol,
#chatWindow ul { margin: 0; padding: 0 }
#chatWindow h1 { font-family: 'opensans'; font-weight: normal; line-height: 2.5em}
#chatWindow fieldset { border: none }
#chatWindow input, 
#chatWindow button { font-family: 'opensans'; }

#loggedIn {
	display:none;
}

.navbar-nav>li {
	margin-right:1em;
}

#loginModal {
  padding: 15px;
  margin: 0 auto;
}
#loginModal #loginModal-heading,
#loginModal .checkbox {
  margin-bottom: 10px;
}
#loginModal .checkbox {
  font-weight: normal;
}
#loginModal .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
#loginModal .form-control:focus {
  z-index: 2;
}
#loginUser {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#loginPassword {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.alertDialog .modal-footer {
	margin-top:0;
}

#loading {
	position: fixed;
	width: 100%;
	text-align: center;
	padding-top: 70px;
	background-color: rgba(0,0,0,0.5);
	z-index: 1040;
	height: 100%;
	display:none;
	top:0;
}
#loading.visible {
	display:block;
}

.availability {
	background: none;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-clip: none;
}
.availability .btn-success { border-bottom-left-radius:0; border-bottom-right-radius:0 }
.availability .btn-warning { border-radius:0;}
.availability .btn-danger { border-top-left-radius:0; border-top-right-radius:0}

.status_offline .state { color: #cccccc; }
.status_online .state { color: #5cb85c; }
.status_dnd .state { color: #d9534f; }
.status_away .state { color:#f0ad4e; }

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }


/* Scrollbar */
::-webkit-scrollbar {
	width: 5px;
	background: transparent;
}
 /* Track */
::-webkit-scrollbar-track {
	background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #a9a9a9;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #c8c8c8; 
}

.invisible { opacity:0; }
.hidden { display: none }
.mf-ui-bold { font-family: 'opensans'; font-weight:bold; }
.mf-ui-italic { font-family: 'opensans'; font-style:italic; font-weight:300; }
.mf-ui-light { font-family: 'opensans'; font-weight: 300; }
.chat-window { 
	width: 400px; 
	height: 100%; 
	position: relative;
	background: #F5F6F7;
	overflow: hidden }
	.chat-window header {
		height: 40px;
		-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.2);
		box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.2);
		background-color: #e5f3fb }
		.chat-window header h1 {
			font-size: 1em;
			color: #2a9bdb;
			margin: 0 0 0 20px }
	.chat-window .main-time { 
		font-size: 0.75em; 
		color: #73839d; 
		text-align: center; 
		margin: 10px 0; 
		display: block; }
	.chat-window .chat-content { 
		margin: 0 7px 13px 13px; 
		height: 75%;
		overflow-y: scroll }
		.chat-window .chat-content .chat-items { margin: 0 } 
		.chat-window .chat-content .chat-item { 
                        list-style: none; 
                        position: relative; 
                        overflow: hidden;
                        margin-bottom: 15px;
                        margin-right: 6px;
                        padding-top: 10px}
			
			.chat-window .chat-content .chat-item .chat-item-content { 
				float: left; 
				display: inline-block;
				min-height: 22px;
				overflow: hidden; }
			.chat-window .chat-content .chat-item.me .chat-item-content { float: right }
				
				.chat-window .chat-content .chat-item time { 
                                position: absolute;
                                bottom: 0;
                                float: left;
                                font-size: 0.75em;
                                color: #73839d;
                                margin-bottom: 4px }
                    .chat-window .chat-content .chat-item.me time { float: right }
				
				.chat-window .chat-content .chat-item p { 
                                float: left;
                                margin: 0;
                                margin-left: 47px;
                                margin-right: 10px;
                                padding: 4px 8px; 
                                border: solid 1px #e3e4e5;
                                font-size: 0.75em;
                                color: #000000;
                                background: #FFFFFF;
                                border-radius: 4px;
                                max-width: 237px;  }
                .chat-window .chat-content .chat-item.me p { 
                                float: right;
                                margin-left: 55px;
                                margin-right: 47px }
					
			.chat-window .chat-content .chat-item figure { 
				float: left;
				padding: 0;
				margin: 0; 
				width: 40px;
				height: 40px;
				position: absolute;
				bottom: 0; }
			.chat-window .chat-content .chat-item.me figure { float: right; right: 0 }

				.chat-window .chat-content .chat-item figure img { 
					border: solid 1px #e5e5e5; 
					border-radius: 100px; 
					width: 36px;
					max-width: none;
					margin: 1px 0 0 1px }
				.chat-window .chat-content .chat-item figure .cover { 
					position: absolute;
					left: 0;
					top: 0;
					background: url('../img/spr-chat-user-picture.png') no-repeat 0 0 transparent;
					width: 40px;
					height: 40px;
					z-index: 1 }
				.chat-window .chat-content .chat-item figure.status-online .cover                   { background-position: 0 0 }
				.chat-window .chat-content .chat-item figure.status-busy .cover                     { background-position: 0 -51px }
                .chat-window .chat-content .chat-item figure.status-unavailable .cover              { background-position: 0 -100px }
                .chat-window .chat-content .chat-item figure.status-offline .cover                  { background-position: 0 -151px }
                .chat-window .chat-content .chat-item.counterpart figure.status-online .cover       { background-position: -50px 0 }
                .chat-window .chat-content .chat-item.counterpart figure.status-busy .cover         { background-position: -50px -51px }
                .chat-window .chat-content .chat-item.counterpart figure.status-unavailable .cover  { background-position: -50px -100px }
                .chat-window .chat-content .chat-item.counterpart figure.status-offline .cover      { background-position: -50px -151px }
				
	.chat-window footer { 
		position: absolute; 
		width: 100%; 
		height: 46px;
		bottom: 0;
		border-top: solid 3px #3dba6a;
		background: #ebedee;
		z-index: 1; }
		.chat-window footer form { margin-top: 2px } 
			.chat-window footer input { 
				background-color: #FFFFFF; 
				border-radius: 50px 0 0 50px; 
				border: solid 1px #b5b6b7;
				border-right: none;
				font-size: 0.75em; 
				padding: 5px 5px 5px 10px;
				width: 300px;
				float: left; }
			.chat-window footer button { 
				width: 50px;
				color: #FFFFFF;
				background-color: #8ac4e4;
				border-radius: 0 50px 50px 0; 
				border: none;
				padding: 5px 0 }
			.chat-window footer input:focus,
			.chat-window footer button { box-shadow: 0; outline: none }