<!DOCTYPE html>
<html ng-app="fileShareApp" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>File Upload Test</title>
<link href="../css/bootstrap.2.3.2.min.css" rel="stylesheet">
<script src="../js/lib/angular/angular.js"></script>
<script src="../js/lib/angular-resource.min.js"></script>
<script src="../js/lib/ui-bootstrap-tpls-0.6.0.min.js"></script>
<script src="../js/lib/angular-file-upload/angular-file-upload.js"></script>
<script src="../js/lib/angular-file-upload/angular-file-upload-shim.js"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
</head>
<body data-ng-cloak>
	<div data-ng-controller="FileUploadController">
		<input type="file" ng-file-select="onFileSelect($files)" multiple>
		<div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
		<button ng-click="upload.abort()">Cancel Upload</button>			
		
		
		<div>
			<h1>Uploaded Files</h1>
			<br/>
			<div ng-repeat="file in uploadedFiles">	
				<a href="{{file.url}}" target="_new">{{file.name}}</a>
			</div>
		</div>
	</div>
	
	
	<script src="app.js"></script>
</body>
</html>